In [1]:
from neo4j import GraphDatabase
from pandas import DataFrame
class Neo4jConnection:
    
    def __init__(self, uri, user, pwd):
        self.__uri = uri
        self.__user = user
        self.__pwd = pwd
        self.__driver = None
        try:
            self.__driver = GraphDatabase.driver(self.__uri, auth=(self.__user, self.__pwd))
        except Exception as e:
            print("Failed to create the driver:", e)
        
    def close(self):
        if self.__driver is not None:
            self.__driver.close()
        
    def query(self, query, db=None):
        assert self.__driver is not None, "Driver not initialized!"
        session = None
        response = None
        try: 
            session = self.__driver.session(database=db) if db is not None else self.__driver.session() 
            response = list(session.run(query))
        except Exception as e:
            print("Query failed:", e)
        finally: 
            if session is not None:
                session.close()
        return response

In [9]:

def run_query_from_file(cypher_file_path):
    conn = Neo4jConnection(uri="bolt://localhost:7687", user="neo4j", pwd="pdb")
    with open(cypher_file_path, 'r') as cypher_file:
          cypher_query = cypher_file.read().strip()           
    res = DataFrame([dict(_) for _ in conn.query(cypher_query)])
    return (res)
    
    
def test2(qname,**kwparameters):
    result = run_query_from_file(qname, **kwparameters)
    return result

In [24]:
import timeit
import glob
import pandas as pd

filelist = glob.glob('Queries/*.cypher')
df = pd.DataFrame()
cols = ['QueryName', 'Time_in_Sec'] 
for fin in filelist:
    print(fin)
    start = timeit.default_timer()

    # All the program statements
    t = test2(qname=fin)
    stop = timeit.default_timer()
    execution_time = stop - start
    df= df.append({'QueryName': str(fin), 'Time_in_Sec':str(execution_time)},ignore_index=True)
    print("Program Executed in "+str(execution_time)) # It returns time in seconds

Queries\query1.cypher
Program Executed in 2.051500399997167
Queries\query10.cypher

Failed to write data to connection IPv4Address(('localhost', 7687)) (IPv4Address(('127.0.0.1', 7687)))

Program Executed in 14.449943300001905
Queries\query11.cypher
Program Executed in 2.145762200001627
Queries\query12.cypher
Program Executed in 2.0744542999964324
Queries\query13.cypher
Program Executed in 2.96656410000287
Queries\query14.cypher
Program Executed in 2.1017036999983247
Queries\query15.cypher
Program Executed in 2.077759799998603
Queries\query16.cypher
Program Executed in 2.062824400003592
Queries\query17.cypher
Program Executed in 2.0669837999957963
Queries\query18.cypher
Program Executed in 2.049447199999122
Queries\query19.cypher
Program Executed in 2.3278725999989547
Queries\query2.cypher
Program Executed in 2.0451308000046993
Queries\query20.cypher
Program Executed in 2.062990799997351
Queries\query23.cypher
Program Executed in 2.1452062000025762
Queries\query24.cypher
Program Executed in 19.924027700006263
Queries\query25.cypher
Program Executed in 2.373241599998437
Queries\query27.cypher
Program Executed in 3.3389984000023105
Queries\query28.cypher
Program Executed in 2.227108099999896
Queries\query3.cypher
Program Executed in 2.096280999998271
Queries\query4.cypher
Program Executed in 2.114333599995007
Queries\query5.cypher
Program Executed in 2.107298199996876
Queries\query6.cypher
Program Executed in 121.05256400000508
Queries\query7.cypher
Program Executed in 2.064630799999577
Queries\query8.cypher
Program Executed in 106.38280569999915
Queries\query9.cypher
Program Executed in 2.1079082999931416

In [19]:
df.to_csv("query_results.csv",index=False)

In [20]:
df

         QueryName         Time_in_Sec
0    query1.cypher   2.091521599999396
1   query10.cypher  14.052583999997296
2   query11.cypher  2.1696587999977055
3   query12.cypher  2.0615819999948144
4   query13.cypher   2.548403299995698
5   query14.cypher  2.0653734000006807
6   query15.cypher  2.0788967999978922
7   query16.cypher  2.0718445999955293
8   query17.cypher  2.0560327999992296
9   query18.cypher  2.0707210000036866
10  query19.cypher  2.2842635000051814
11   query2.cypher  2.0485919999991893
12  query20.cypher   2.069522500001767
13  query23.cypher  2.1311191999993753
14  query24.cypher  19.005071400002635
15  query25.cypher   2.393995799997356
16  query27.cypher  2.8662686000025133
17  query28.cypher   2.209879299996828
18   query3.cypher   2.085618400000385
19   query4.cypher    2.13101910000114
20   query5.cypher  2.1105049999969197
21   query6.cypher   288.7810052999994
22   query7.cypher  2.0660999000028824
23   query8.cypher  103.16891339999711
24   query9.cypher    2.10718469999847